# File immagine generati dal progetto
*.png
figures/

# Generated data and cache files
data/

# Compiled/optimized Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Report di test e coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Ambienti virtuali
.env
.venv
env/
venv/

# File specifici di IDE / Editor
.vscode/
.idea/

# File specifici del sistema operativo
.DS_Store